<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="current-power">
            <ion-icon name="flash"></ion-icon>
            <ion-label>Power</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="current-temperature">
            <ion-icon name="thermometer"></ion-icon>
            <ion-label>Temperature</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="current-co2">
            <ion-icon name="cloud-outline"></ion-icon>
            <ion-label>Co2</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="current-humidity">
            <ion-icon name="water"></ion-icon>
            <ion-label>Humidity</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="current-heating">
            <ion-icon name="thermometer"></ion-icon>
            <ion-label>Heating</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="current-watertank">
            <ion-icon name="water"></ion-icon>
            <ion-label>Watertank</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="heatpump-pv-coverage">
            <ion-icon name="water"></ion-icon>
            <ion-label>Heatpump PV Coverage</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
