<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="current-power">
      <ion-icon name="flash"></ion-icon>
      <ion-label>Current Power</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="power-trend">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Power Trend</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="current-temperature">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Current Temperature</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="temperature-trend">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Temperature Trend</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="current-co2">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Current Co2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="co2-trend">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Co2 Trend</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="current-humidity">
      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Current Humidity</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="humidity-trend">
      <ion-icon name="pulse"></ion-icon>
      <ion-label>Humidity Trend</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
