<ion-header>
  <ion-toolbar>
    <ion-title>
      Power Consumption Trend
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Power Consumption Trend
  <div id="content">
    <history-buttons (changeHistoryHoursEvent)="changeHistoryHours($event)"></history-buttons>
    <div id="chart"></div>
    <button (click)="showDebug = !showDebug">debug</button>
    <div id="debug">msgs: {{msgCount}}<!--*ngIf="!showDebug"--> {{lastMessage.date}} heat: {{lastMessage.heatpumpConsumption}} grid: {{lastMessage.powerGrid}}
      load: {{lastMessage.powerLoad}} pv: {{lastMessage.powerPv}}</div>
  </div>
</ion-content>
